<div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 1300px; margin: 0 auto">
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
     <li data-target="#myCarousel" data-slide-to="2"></li>
     <li data-target="#myCarousel" data-slide-to="3"></li>
     <li data-target="#myCarousel" data-slide-to="4"></li>
   </ol>
   <div class="carousel-inner">
     <div class="item active">
       <%= image_tag 'c1.jpg' %>
       <div class="carousel-caption text-center">
         
       </div>
     </div>
     <div class="item">
       <%= image_tag 'c2.jpg' %>
       <div class="carousel-caption text-center">
         
       </div>
     </div>
     <div class="item">
       <%= image_tag 'c3.jpg' %>
       <div class="carousel-caption text-center">
         
       </div>
     </div>
     <div class="item">
       <%= image_tag 'c4.jpg' %>
       <div class="carousel-caption text-center">
         
       </div>
     </div>
     <div class="item">
       <%= image_tag 'c5.jpg' %>
       <div class="carousel-caption text-center">
         
       </div>
     </div>
   </div> 
 </div>
  <div class="featurette-divider">
  
 <div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" <%= image_tag 'group.jpg' %>>
      <h2>Group Forums</h2>
      <p>Join a group and discuss the latest health and fitness trends!</p>
      <p><a class="btn btn-default" href="/events">View details</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" <%= image_tag 'bmi.jpg' %>>
      <h2>BMI Calculator</h2>
 	  <p>Want to stay fit and keep a healthy life? Calculate your BMI now!<br/></p>
      <p><a class="btn btn-default" href="/attractions">View details</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" <%= image_tag 'map.jpg' %>>
      <h2>Gym Finder</h2>
      <p>View a map of all the gyms near you!<br/><br/></p>
      <p><a class="btn btn-default" href="#">View details</a></p>
    </div>
  </div>
  
  
  <hr class="featurette-divider">

      <!--<button type="button" class="btn btn-default btn-sm navbar-btn navbar-right">Sign in</button>-->
      
<footer>
	<section class="col-md-4">
		Copyright Hackathon 2014
	</section>
	<section class="col-md-8">
		All rights reserved.
	</section>
</footer>